/** NAV BAR*/

main {
  background-color: rgb(6, 55, 147);
  color: rgb(205, 222, 255);
  display: grid;
  grid-template-columns: 25% 55% 20%;
  height: 120px;
}

main h1{
  margin-left: 40px;
  font-size: 3em;
  text-shadow: 2px 2px 5px black;
  align-self: center;
}

main h2{
  margin-top: 30px;
  display: flex;
  align-items: center;
}

main button{
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
  height: 50%;
  background-color: rgb(22, 88, 212);
  color: rgb(205, 222, 255);
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 1dvh;
}

main button:hover{
  background-color: rgb(6, 60, 160);
  cursor: pointer;
}

/** HOMEPAGE*/

#homepage{
  padding: 50px;
}

#currBalanceDiv{
  width: 100%;
  display: grid;
  grid-template-columns: 85% 15%;
}

.totalText{
  display: flex;
  justify-content: end;
}

#homepage select{
  margin-bottom: 20px;
}

.allTransactions{
  border: 1px solid rgb(202, 202, 202);
  border-radius: 15px;
}
.transactionBox{
  display: grid;
  grid-template-columns: 4fr 1fr;
  height:fit-content;
}
.transactionItem,
.transactionDate{
  grid-column: 1/2;
  margin: 0px;
  margin-left: 20px;
}
.amountBox{
  grid-row: 1/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.transactionAmount{
  font-size: 1.5em;
  margin: 20px 20px 10px 0px;
  align-self: end;
}
.transactionDate{
  color: rgb(167, 167, 167);
  margin-top: 15px;
}
.transactionItem{
  color: rgb(0, 64, 255);
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.transactionItem:hover{
  color: rgb(0, 34, 135);
  cursor: pointer;
}

#greenNumber{
  color: rgb(0, 255, 0);
  text-shadow: 1px 1px 2px black;
}
#yellowNumber{
  color: rgb(255, 255, 0);
  text-shadow: 1px 1px 2px black;
}
#redNumber{
  color: red;
  text-shadow: 1px 1px 2px black;
}
/** SHOW */

#show{
  display: flex;
  justify-content: center;
  padding: 50px;
}

#showBackButton{
  height: 30px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid rgb(187, 187, 187);
}

#showBackButton:hover{
  background-color:rgb(215, 229, 255);
  cursor: pointer;
}

#displayTransaction{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 15px;
  padding: 20px;
}

#displayTransaction button{
  width: 80px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 15px;
}
#displayTransaction button:hover{
  background-color:rgb(215, 229, 255);
  cursor: pointer;
}

.showTransAmount{
  font-size: 3em;
  margin: 20px 0px 0px 0px;
}
.showTransItem{
  margin: 15px 0px 0px 0px;
}
.showTransFrom{
  margin: 15px 0px 0px 0px;
}

#editForm{
  display: none;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
  align-items: center;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 15px;
  padding: 20px;
}
#editForm input{
  margin-bottom: 20px;
}

/** CREATE */

#create{
  display: flex;
  justify-content: center;
  padding: 50px;
  border: 2px solid red;
}

#create form{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 15px;
  padding: 20px;
}

#create input{
  margin-bottom: 20px;
}

/** NOT FOUND PAGE */

#notfoundPage{
  padding: 50px;
}


@media (max-width: 768px) {
  main{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 2fr 1fr;
    height: 100px;
  }

  main h1{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 2em;
    align-self: center;
  }

  main h2{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
  }

  main button{
    grid-column: 2/3;
    grid-row: 1/3;
    width: 150px;
    margin-top: 10px;
    font-size: 1em;
  }

  #currBalanceDiv{
    font-size: .8em;
  }

  #show{
    display: grid;
    grid-template-rows: 1fr 10fr;
  }
  #showBackButton{
    width: 50px;
  }
  #displayTransaction{
    width: 700px;
  }
}

@media (max-width: 480px) {
  #displayTransaction{
    width: 250px;
  }
}